@model Services.Models.ListItemLocal_Short
@{
    var reviewCount = Model.Reviewes != null ? Model.Reviewes.Count : 0;
    var singleOrNot = "";

    if (Model.Reviewes != null && Model.Reviewes.Count > 1)
    {
        singleOrNot = "reviews";
    }
    else
    {
        singleOrNot = "review";
    }
    var reviewText = reviewCount == 0 ? "" : $"(<small><a href=\"#0\">read {reviewCount} {singleOrNot}</a></small>)";

    var rating = Int32.Parse(Model.Rating);
}
<section class="parallax-window" data-parallax="scroll" data-image-src="@Model.BgImage" data-natural-width="1400" data-natural-height="470">
    <div id="subheader">
        <div id="sub_content">
            <div id="thumb"><img src="@Model.LogoImage" alt=""></div>
            <div class="rating">
                @for (int i = 0; i < rating; i++)
                {
                    <i class="icon_star voted"></i>
                }
                @for (int i = 0; i < 5 - rating; i++)
                {
                    <i class="icon_star"></i>
                }
                @Html.Raw(reviewText)
            </div>
            <h1>@Model.Name</h1>
            <div><em>@Model.Description</em></div>
            <div><i class="icon_pin"></i> @Model.Address <strong>Delivery charge:</strong> Rs 10, free over @Model.MinOrder.</div>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section>